
<footer class= "site-footer">
    
        <div class= "footer-content">
            <div class="footerlogo">
                <img src="../sunny_socks_web_development/img/Logos/png/sunny_logos_blue.png" alt="Logo blue"> 
         

            <div class= "socialmedia">

                <ul class="social-icons">
                    <li class="active"><a href="https://www.facebook.com/register/?lang=nl"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://x.com/"><i class="fab fa-x-twitter"></i></a></li>
                    <li><a href="https://nl.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>

            </div>

            <div class=" Snellelinks">
                
                <ul class="links">
                    <h3>Snelle links</h3>
                    <li>Home</li>
                    <li><a href="duurzaamheid.php" style="text-decoration: none; color: inherit;">Duurzaamheid</a></li>
                    <li><a href="overzicht.php" style="text-decoration: none; color: inherit;">Collectie</a></li>
                    <li><a href="over_ons.php" style="text-decoration: none; color: inherit;">Over ons</a></li>
                    <li><a href="contact.php" style="text-decoration: none; color: inherit;">Contact</a></li>
                    <li><a href="campagne.php" style="text-decoration: none; color: inherit;">Campagne</a></li>
                    <li><a href="media.zip" download>Downloadbare Media</a></li>
                </ul>

            </div>


            <div class="Helpcentrum">
                
                <ul class="centrum">
                    <h3>Helpcentrum</h3>
                    <li>Betalingen</li>
                    <li>Verzending</li>
                    <li>Productretouren</li>
                    <li>FAQs</li>
                    <li>Afrekenen</li>  
                </ul>

            </div>


            <div class="Onzenieuwsbrief">
                <h3>Onze Nieuwsbrief</h3>
                <p>Schrijf u in voor onze nieuwsbrief en blijf op de hoogte van onze fantastische aanbiedingen.</p>

                <div class="email-wrapper">
                    <input type="email" placeholder="Voer uw e-mailadres in"></i>
                    <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                </div>


            </div>

        </div>

        <hr>

        <p class="footercopy">
         2025 Sunny Socks. All rights reserved.
        </p>


</footer>
