<header>
    <div class="upper">
        <a href="index.php">
            <img src="./img/Logos/png/sunny_logos_slogan_blue.png" alt="Header-Logo">
        </a>
        <div class="search-container">
            <form action="404.php" method="get">
                <input type="text" name="search-bar" id="search-bar" placeholder="Zoek Balk">
            </form>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="phone">
            <span class="contact-title">Phone</span>
            <span>+31-6-12345678</span>
        </div>
        <div class="email">
            <span class="contact-title">Email</span>
            <span>email@gmail.com</span>
        </div>
    </div>
    <hr>
    <div class="lower">
        <div class="pages">
            <a href="./index.php">Home</a>
            <a href="./duurzaamheid.php">Duurzaamheid</a>
            <a href="">Collectie</a>
            <a href="./campagne.php">Campagne</a>
            <a href="./over_ons.php">Over Ons</a>
            <a href="./contact.php">Contact</a>
        </div>
        <div class="icons">
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
</header>