<link rel="stylesheet" href="./css/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<header>
    <div class="upper">
        <img src="./img/Logos/png/sunny_logos_slogan_blue.png" alt="Header-Logo">
        <div class="search-container">
            <input type="text" name="search-bar" id="search-bar" placeholder="Zoek Balk">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="phone">
            <span class="contact-title">Phone</span>
            <span>+31-6-12345678</span>
        </div>
        <div class="email">
            <span class="contact-title">Email</span>
            <span>email@gmail.com</span>
        </div>
    </div>
    <hr>
    <div class="lower">
        <div class="pages">
            <a href="">Home</a>
            <a href="">Duurzaamheid</a>
            <a href="">Collectie</a>
            <a href="">Campagne</a>
            <a href="">Over Ons</a>
            <a href="">Contact</a>
        </div>
        <div class="icons">
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
</header>