<header>
  <div class="upper">
    <!-- Hamburger (alleen mobiel zichtbaar) -->
    <div class="hamburger">
      <i class="fa-solid fa-bars"></i>
    </div>

    <!-- Logo -->
    <a href="index.php" class="logo">
      <img src="./img/Logos/png/sunny_logos_slogan_blue.png" alt="Header-Logo">
    </a>

    <!-- Desktop only: search/contact -->
    <div class="search-container">
      <form action="404.php" method="get">
        <input type="text" name="search-bar" id="search-bar" placeholder="Zoek Balk">
      </form>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="phone">
      <span class="contact-title">Phone</span>
      <span>+31-6-12345678</span>
    </div>
    <div class="email">
      <span class="contact-title">Email</span>
      <span>email@gmail.com</span>
    </div>
  </div>

  <hr>

  <div class="lower">
    <div class="pages">
      <a href="./index.php">Home</a>
      <a href="./duurzaamheid.php">Duurzaamheid</a>
      <a href="#">Collectie</a>
      <a href="./campagne.php">Campagne</a>
      <a href="./over_ons.php">Over Ons</a>
      <a href="./contact.php">Contact</a>
    </div>

    <!-- icons staan naast de links op desktop en in menu op mobiel -->
    <div class="icons">
      <i class="fa-solid fa-user"></i>
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </div>
</header>

<script src="navigation.js"></script>
